

/* General Styles */

body {
  margin: 0; 
  font-size: 75%;  
  text-align: center; 
  color: black;
  font-family: Arial,Helvetica,sans-serif;
  background-color: #FAF9F5;
  }

code {
  display: block;
  border: solid #d9d9ce 1px;
  background-color: #f0eee4;
  font-family: courier new, monospace;
  font-size: 90%;
  margin-top: .9em;
  margin-bottom: .9em;
  padding: 5px;
  }
 
img {
  border: none;
  }
 
a:active {color: #808080;}
 
a:visited {color: #666652;}
 
dd, dt, li {
  margin-bottom: .5em;
  }
 
dl, ol, ul {
  padding-left: 30px;
  }

form fieldset {
  border: solid #d9d9ce 1px;
  padding: 10px;
  }

form fieldset legend {
  font-family: verdana,arial,helvetica,sans-serif;
  font-weight: bold;
  color: #000000;
  }

fieldset fieldset{
  clear: left;
  }
  
form dl, form fieldset dl, dl.TwoColumn, div.NewsLinkList dl, form div dl {
  float: left; 
  width: 100%;
  padding: 0 0 10px 0;
  }

div.NewsLinkList dl {
  padding-bottom: 0px;
  padding-left:  0px;
  }
  
form dt, dl.TwoColumn dt, form div dt {
  margin: 0 5px 5px 0;
  float: left;
  clear: both; 
  text-align: right;
  width: 150px; /* To avoid IE bug, the width of dt is set below width of any column */
  }

form dd, dl.TwoColumn dd, form div dd {
  margin: 0 0 10px 0; 
    float: left; 
  }

form dl.NoMargin {
  margin-top: 0;
  margin-bottom: 0;
  }

/* examples etc. for form fields */ 
form span.ElementNote {
  font-style: italic;
  }


/* horizontal and vertical list of radio buttons or checkboxes */ 
form ul.ElementListH, form ul.ElementListV, ul.ElementListH, ul.ElementListV {
  list-style: none;
  display: block;
  padding: 0px;
  margin: 0px;
  }

form ul.ElementListH li, ul.ElementListH li {
	display: block;
	float: left;
	padding-right: 10px;
  }


form ul.ElementListV li, ul.ElementListH li {
	display: block;
  }
  

h3,h4,h5,h6,p,fieldset,form,ol,dl,ul,dir,menu {
  margin: .9em 0;  /*ensures that everything that begins at 
             the beginning of a column is equally spaced down */
  }
 
h1,h2,h3,h4 {
  font-family: verdana,arial,helvetica,sans-serif;
  }
 
h1 {
  font-size: 2.5em;
  font-weight: normal;
  margin: 0;
  }
 
h2 {
  font-size: 1.9em;
  margin: 0;
  padding: .1em 0 .4em 0;
  }
 
h3 {
  font-size: 1.15em;
  margin-top: 1.15em;
  }
 
h4 { 
  font-size: 1em;
  margin-top: 1em;
  }

h5 {
  font-size: 1em;
  margin-top: 1em;
  }

h6 {
  font-size: 1em;
  font-style: italic;
  font-weight: normal;
  margin-top: 1em;
  }
 
hr {
  color: #b3b3aa;
  background-color: #b3b3aa;
  border: #b3b3aa;
  height: 1px;
  }

ol ul, ul ol, ul ul, ol ol { 
  margin-top: .5em; 
  margin-bottom: .5em;
  }

table {
  border-collapse: collapse;
  }

td, th {
  border: 1px solid #b3b3aa;
  empty-cells: show;
  padding: 5px;
  margin: 0;
  vertical-align: top;
  }

html[xmlns] #Masthead {
  padding-bottom: 5px;
  }
  
html[xmlns] .MozClear {
  /* this selector should be valid CSS, but Opera 7.5 (and above) will pick
   * this up as well. Shouldn't be a problem, Opera should handle this fine,
   * but it's a Mozilla-targeted hack, and it should probably only affect
   * mozilla. You can do that by replacing the INVALID CSS selector
   * : root .mozClear for what's give here.
   */
  border-bottom: 1px solid transparent;
  margin-bottom: -1px;
  /*padding-bottom: 10px;*/
  }
 
* html #InnerColumnContainer {
  position: relative; /* Needed to ensure leftcolumn doesn't sporadically hide in center of page in IE */
  }
 
* html #PageWrapper {
/*  word-wrap: break-word;  */ /* invalid CSS but keeps IE from breaking horribly under narrow viewports */ 
  }
 
/* Unqualified Classes */

.Center {
  text-align: center;
  }

.CenterWrapper {
  margin-right: auto;
  margin-left: auto; 
  padding: 10px 5px;
  width: 756px;
  text-align: left;
  background-color: white; 
  }

.Clear {
  clear: both;
  }
  
.Error {
  color: red;
  font-weight: bold;
  }
  
.FirstChild {
  margin-top: .9em;
  /* width: 100%;  Added so that shaded h3 won't be hidden when nested beneath this item in IE6 */
  clear: both;
  }
 
.FLeft {
  float: left;
  }
 
.FNone {
  float: none;
  }
 
.FSmall {
  font-size: 85%;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  }

.MLeftNeg10 {
  margin-left: -10px;
  }

.MLeft10 {
	margin-left: 10px;
	}

.MLeftRight5 {
	margin-right: 5px;
	margin-left: 5px;
	}
     
.MRight10 {
	margin-right: 10px;
	}
           
.MTopZero {
  margin-top: 0 !important;
  }
  
.MBottomZero {
  margin-bottom: 0 !important;
  }

.MBottom10 {
  margin-bottom: 10px;
  }

.MBottom5 {
  margin-bottom: 5px;
  }

.MTop5 {
  margin-top: 5px;
  }

.MTopStandard {
  margin-top: .9em;
  }

.MAll5 {
  margin: 5px 5px 5px 5px;
	}

.NavLinks a {
  text-decoration: none;
  }
 
.NavLinks a:hover {
  text-decoration: underline;
  }

.PaddingLeft {
  padding-left: 2px;
  }
 
.PSmall {
  padding-top: 3px;
  padding-bottom: 6px;
  }

.PLeft10 {
  padding-left: 10px;
  }

.PRight10 {
  padding-right: 10px;
  }

.PLeft20 {
  padding-left: 20px;
  }

.PLeftRight5 {
  padding-left: 5px;
  padding-right: 5px;
  }

.PAll5 {
  padding: 5px;
  }

.PAll10 {
  padding: 10px;
  }

.PMedium {
  padding-top: 6px;
  padding-bottom: 6px;
  }
 
.PRight10 {
  padding-right: 10px;
  }

.Policy .PolicyTitle {
  /*border-top:medium none;*/
  color:#707070;
  font-family:arial,helvetica,sans-serif;
  font-size:100%;
  font-style:italic;
  font-weight:normal;
  }

.PTop10 {
  padding-top: 10px;
  }

.PTop20 {
  padding-top: 20px;
  }

.PTopBottom5 {
  padding-top: 5px;
  padding-bottom: 5px;
  }
  
.PBottom5 {
	padding-bottom: 5px;
	}

.PBottom10 {
  padding-bottom: 10px;
  }

.Right {
  text-align: right
  }

.Serif {
  font-family: times, serif;
  font-size: 110%;
  }
 .Serif h3, .Serif h4, .Serif h4, .Serif h6 {
  font-family: times, serif !important;
  }

.SystemShaded {
  background-color: #f0eee4;
  }
 
.SystemBordered {
  border: solid #d9d9ce 1px;
  }
  
.Tagline {
  color: #7D7D75;
  font-size: 85%;
  font-family: Verdana,Arial,Helvetica,sans-serif;  
  }
 
.Tagline img {
  padding-right: 3px;
  vertical-align: baseline;
  }
 
/* Qualified Classes */ 

/* Set the top margin to a consistent value so the beginning of each column lines up horizontally */
div.ColumnSgl > *:first-child, div.ColumnDbl > *:first-child, div.ColumnTrpl > *:first-child, div.ColumnQuad > *:first-child, div.ColumnTrplHalf > *:first-child, div.ColumnQuadThird > *:first-child, div.ColumnQuadTwoThirds > *:first-child  {
  margin-top: .9em;
  }
 
div.ColumnSgl, div.ColumnDbl, div.ColumnTrpl, div.ColumnQuad, div.ColumnTrplHalf, div.ColumnQuadThird, div.ColumnQuadTwoThirds {
  padding: 0 5px;
  float: left;
  overflow: visible;  /*Added to fix IE's italic bug where it expands the div too wide*/  
  position: relative; /*Added to fix Mac IE bug of pop-up menus being in wrong z layer*/
  }
  
div.ColumnSgl {
  width: 179px;
  }

div.ColumnSgl div.ColumnSgl {
  width: 169px;
  }
 
div.ColumnDbl {
  width: 368px;
  }
  
div.ColumnSgl ul  {
  margin-left: -.9em;
	}

div.ColumnDbl form dd, div.ColumnDbl dl.TwoColumn dd {
  width: 213px;
  }
  
/* not tested*/
div.ColumnDbl form fieldset dd {
  width: 200px;
  } 

div.ColumnDblNoPadding {    /* Usage: Column that can contain other columns with padding */
  width: 378px;
  padding: 0;
  float: left;
  } 

div.ColumnTrpl {
  width: 557px;
  }

div.ColumnTrplNoPadding {
  width: 567px;
  padding: 0;
  float: left;
  }

div.ColumnTrpl form dd, div.ColumnTrpl dl.TwoColumn dd, form div.ColumnTrpl dd {
  width: 402px;
  }

div.ColumnTrpl form dd dd {
  width: 247px !important;
  }
 
div.ColumnTrpl form fieldset dl dd, form div.ColumnTrpl fieldset dd {
  width: 375px;
  }

div.ColumnTrpl form fieldset fieldset dl dd {
  width: 355px;
  }

div.ColumnTrpl form dl dd div.Example {
  float: right;
  width: 150px;
  font-size: 80%;
  font-family: verdana, arial, helvetica, sans-serif;
  }

div.ColumnQuad form dl dd div.Example {
  float: right;
  width: 250px;
  font-size: 80%;
  font-family: verdana, arial, helvetica, sans-serif;
  }

div.ColumnQuad {
  width: 746px;
  } 

div.ColumnQuadNoPadding {
  width: 756px;
  padding: 0;
  float: left;
  }

div.ColumnQuad form dd, div.ColumnQuad dl.TwoColumn dd {
  width: 591px;
  } 

div.ColumnQuad form fieldset dd {
  width: 550px;
  } 
 
div.ColumnTrplHalf {        /* Usage: 1 columnSgl and 2 columnTrplHalf.       */
  width: 273px;       /*        Leaves 1px unused/unclaimed on right edge.  */
  }
  
div.ColumnQuadThird {
  width: 242px;
  }
  
div.ColumnQuadTwoThirds {
  width: 494px;
  }
  
div.ColumnQuad div.ColumnQuadThird {
  width: 232px;
  }
  
div.ColumnQuad div.ColumnQuadTwoThirds {
  width: 487px;
  }

div.Fieldset {
      /*margin-top: 15px;*/
  margin-bottom: 25px;
  border: 1px dotted #96968D;
  position: relative;
	}

div.Fieldset div.Content {
  list-style:none; 
  padding:0px; 
  margin: 25px 15px 15px;
	}
    
div.Fieldset .Legend {
  z-index: 2;
  position: absolute;
  top: -11px;
  left: 15px;
	}
  
div.Fieldset .InnerImg {
  padding: 0 15px 10px 0;
	} 

div.FRight, .FRight  {
  float: right;
  } 
 
div#Masthead h1 {
  display: inline;  /* easier than setting 0 padding and margin */
  }

div.LeftColumn {
  padding-left: 0px;
  } 
 
div.LinkList ul {
  margin-bottom: 0px;
  }

div.LinkList li {
  padding-bottom: 1em;
  font-weight: bold;
  }
 
div.LinkList li, div.LinkListButton li {
  list-style: none;
  margin-left: -20px;   /* to reduce margin of generic li to 5px*/
  }
 
div.LinkList li a, div#OnTheWeb div a {
  font-weight: normal;
  text-decoration: none;
  border-bottom: 1px solid #f0eee4;
  border-bottom: 1px solid #d9d7ce;  
  }

div.LinkList span.Location {
  font-weight: normal;
  }

div.LinkListButton img, ul.FeatureButton img {
  vertical-align: middle;
  }
 
div.LinkListButton img {
  padding: 0 5px 5px 5px;
  }
   
/* For each a defined, need to define an a:hover in the campus stylesheet */

div.LinkListButton a, ul.FeatureButton a {
  font-family: verdana,arial,helvetica,sans-serif; 
  text-decoration: none;
  font-weight: bold;
  color: #96968D;
  padding-bottom: 3px;
  font-size: 90%;
  }

div.MyMissouriState {
	background-image: url('https://www.missouristate.edu/images/mymissouristate/Promobackground.jpg');
	background-repeat: no-repeat;
	background-color: #d6eae9;
	height:175px;
	width: 179px;
	color: #526A69;
	line-height: 1.5em;
	cursor: pointer;
	}

div.MyMissouriState p {
	margin: 5px 0 0 15px;
	}

div.MyMissouriState ul {
	border-left:medium none;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding-left:25px;
	}

div.MyMissouriState ul li {
	margin-bottom: 0;
	}

div.NewsLinkList dl dd a {
  text-decoration: none;
  }

div.NewsLinkList dl dt {
  margin: 0 5px 5px 0;
  /*padding-left: 10px;*/
  font-weight: bold;
  float: left;
  clear: both; 
  width: 50px;  /* To avoid IE bug, the width of dt is set below width of any column */
  }

div.NewsLinkList dl dd {
  margin: 0 0 10px 0;
  float: left; 
  width: 480px;
  padding-bottom: .4em; 
  }

div.ColumnDbl div.NewsLinkList dl dd {
  width: 300px;
  }

div.Notice, .Notice {
  padding: 5px;
  margin-bottom: 3px;
  margin-top: 3px;
  background-color: #FFFF99;  
  font-weight: bold;
  }

span.Notice, .Shaded {
  display: block;
  }
  
div.PrintOnly, .PrintOnly {
  display: none;
  }

div.RightColumn {
  padding-right: 0px;
  }

div.Testimonial img {
  float: left;
  margin-right: 10px;
  margin-bottom: 2px;
  border: solid #d9d9ce 1px;
  }

div.Testimonial ul {
  list-style: none;
  font-weight: bold;
  padding-left: 0;
  }
  
div.Testimonial {
  padding: 0 10px 1px 10px;
  margin-top: 10px;
  }

div.MoreInfoLink {
  text-transform: uppercase;
  font-size: 80%;
  margin-bottom: .9em;
  }

div.MoreInfoLink a {
  text-decoration: none;
  color: #666652;
  }
  
div.MoreInfoLink img {
  padding-left: 2px;
  }
  
dl.Feature  {
  border: 1px dotted #96968D;
  height: 36px;
  margin: 0 0 5px 0;
  padding: 0;
  width: 177px;
  }

dl.Feature dt {
  width: 30px;
  height: 24px;
  padding: 5px 8px 5px 9px;
  clear: both;
  float: left;
  margin: 0;
  }

dl.Feature dd {
  padding: 9px 0 5px 0;
  min-height: 0;
  height: 20px;
  width: 129px;
  float:left;
  font-family: verdana, arial, helvetica, sans-serif;
  font-weight: bold;
  font-size: 90%;
  margin: 0;
  }

div.ColumnTrpl form dl.Feature dd {
  width: 129px;
	}

div.SystemShaded {
  padding: 10px;
}

dl.Feature dd.TwoLine {
  padding: 0;
  margin: 5px 0 5px 0;
  min-height: 0;
  height: 24px;
  width: 130px;
  float:left;
  font-family: verdana, arial, helvetica, sans-serif;
  font-weight: bold;
  font-size: 90%;
  }

dl.Feature dt img {
  width: 30px;
  height: 23px;
  }

dl.Feature a {
  text-decoration: none;
  color: #96968D;
  }

dl.FullWidth dt, form dl.FullWidth dt {
  width: 99%;
  text-align: left;
  float: none;
  }
  
dl.FullWidth dd, form dl.FullWidth dd {
  width: 99%;
  text-align: left;
  margin: 0;
  margin-bottom: 15px;
  float: none;
  }
  
dl.MemoFormat dt {
  /*has !important to override the default dl specs*/
  width: 10% !important;
  font-weight: bold;
  }

dl.MemoFormat dd {
  /*has !important to override the default dl specs*/
  width: 85% !important;
  }
    
form input.FormButton {
  margin-left: 155px;
  }
  
form div.FormButton {
  margin: 0 0 15px 155px;
  clear: both;
  }

h3.Shaded, h3.SystemShaded, h3 > span.Shaded {
  padding: 5px;
  font-size: 12px;
  }

h3.Shaded, .Shaded, h3.Shaded a, .Shaded a {
  color: white;
  }
  
h3.Shaded a:visited, h3.Shaded a:active, h3.Shaded a:link, .Shaded a:visited, .Shaded a:active, .Shaded a:link {
  color: white;
  }
 
p.SiteTitle {
  font-family: verdana,arial,helvetica,sans-serif;
  font-weight: bold;
  padding: 0 0 5px 0;
  margin: 0;
  }
  
p.PageTagLine {
  font-style: italic;
  margin-top: -5px;
  }

p.IssueDate {
  margin-bottom: 0px;
  }

table.NoBorder td, table.NoBorder th {
  border: none;
  }

ol.Outline { 
  list-style-type: upper-roman;
  margin-left: 15px;
  } 

  
ol.Outline ol { 
  list-style-type: upper-alpha;
  margin-left: -7px;
  } 

ol.Outline ol ol { 
  list-style-type: decimal 
  } 
  
ol.Outline ol ol ol { 
  list-style-type: lower-alpha 
  } 
  
ol.Outline ol ol ol ol { 
  list-style-type: lower-roman 
  }  

ol.OutlineAlpha { 
  list-style-type: upper-alpha; 
  } 
  
ol.OutlineAlpha ol { 
  list-style-type: decimal;
  } 

ol.OutlineAlpha ol ol { 
  list-style-type: lower-alpha ;
  } 
  
ol.OutlineAlpha ol ol ol { 
  list-style-type: decimal; 
  } 

ol.OutlineAlpha ol ol ol ol {
  list-style-type: lower-alpha;
  }  

p.ChartHeading {
  font-family: verdana,arial,helvetica,sans-serif;
  font-size: 85%;
  font-weight: bold;
  text-align: right;
  }
  
span.LikertField  {
  padding-right: 5px;
  }

span.Weather img {
  padding-left: 10px;
  padding-right: 5px;
  }
  
table.Center {
  text-align:center;
  margin-left: auto;
  margin-right: auto;
  }
  
table.Center td, table.Center th {
  text-align: left;
  }

th.Shaded, td.Shaded {
  display: table-cell;
  }
  
tr.Shaded {
  display: table-row;
  }
  
td.Total {
  border-top: solid 1px black;
  }

ul.AcademicEvents{
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
  float: left;
  }

ul.AcademicEvents li{
  clear: left;
  margin: 0px;
  padding: 0;
  line-height: 1px;
  }

ul.AcademicEvents ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
  line-height: 1px;
  float: left;
  }
  
ul.AcademicEvents ul li{
  float: left;
  margin: 0;
  padding: .4em 5px;
  clear: none;
  line-height: 1.2em;
  }

ul.AcademicEvents ul li.Date{
  width: 11em;
  }

ul.AcademicEvents ul li.Time{
  width: 5em;
  text-align: right;
  }
  
ul.AcademicEvents ul li.Name{
  width: 230px;
  }
  
ul.AcademicEvents ul li.Notes{
  width: 5em;
  }

ul.EventsUL .EventDescription { 
  font-weight: normal;
  }

ul.FeatureButton img {
  padding: 0 5px 5px 0px;
  }
 
ul.FeatureButton li {
  padding-top: 0;
  list-style: none;
  margin-left: -20px; /* to reduce margin of generic li to 5px*/
  }
  
ul.NoBullet {
  list-style: none;
  padding-left: 0;  
  } 

ul.Teaser {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  }

ul.Teaser li {
  margin-bottom: 1em;
  }

ul.Teaser li div.TeaserDate {
  font-style: italic;
  }

ul.Teaser li div.TeaserHeadline {
  font-weight: bold;
  font-family: verdana,arial,helvetica,sans-serif;
  font-size: 1em;
  padding: 3px 0; 
  }

ul.TwoColumn {
  list-style: none;
  margin: 0;
  padding: 0 0 30px 0;
  }
  
ul.TwoColumn li {
  float: left;
  width:48%;
  padding: 5px;
  margin: 0;
  }

div.SocialMediaButton {
  width: 179px;
  margin-top: 3px;
  margin-bottom: 3px;
  }

div#LeftColumn div.SocialMediaButton {
  width: 169px;
  padding-left: 5px;
  }

div.SocialMediaButton a {
  display: table;
  width: 179px;
  }

div#LeftColumn div.SocialMediaButton a {
  width: 169px;
  }

div.SocialMediaButton .ButtonContent {
  display: table-row;
  min-height: 28px;
  background-color: #e6e7e8;
  font-family: arial, helvetica, sans-serif;
  }

div.SocialMediaButton .ButtonContent span {
	display: table-cell;
	vertical-align: middle;
  padding: 0 7px;
  }

div.SocialMediaButton .ButtonContent .ButtonImage img {
  float: left;
  }

div.SocialMediaButton .ButtonContent .ButtonImage {
  width: 28px;
  padding-right: 0;
  border-left: 1px solid #ffffff;
  }

div.SocialMediaButton .ButtonContent .ButtonText {
  padding-left: 5px;
  border-right: 1px solid #ffffff;
  }

div.SocialMediaButton .ButtonTop, div.SocialMediaButton .ButtonBottom {
  display: table-row;
  width: 179px;
  height: 8px;
  }

div#LeftColumn div.SocialMediaButton .ButtonTop, div#LeftColumn div.SocialMediaButton .ButtonBottom {
  width: 169px;
  }

div.SocialMediaButton .ButtonTop span, div.SocialMediaButton .ButtonBottom span {
  display: table-cell; 
  height: 8px;
  }

div.SocialMediaButton .ButtonTop {
  background-image: url('https://www.missouristate.edu/images/socialmedia-BTNtop179.png');
  }

div#LeftColumn div.SocialMediaButton .ButtonTop {
  background-image: url('https://www.missouristate.edu/images/socialmedia-BTNtop.png');
  }

div.SocialMediaButton .ButtonBottom {
  background-image: url('https://www.missouristate.edu/images/socialmedia-BTNbottom179.png');
  }

div#LeftColumn div.SocialMediaButton .ButtonBottom {
  background-image: url('https://www.missouristate.edu/images/socialmedia-BTNbottom.png');
  }

div.SocialMediaButton .ButtonTop .ButtonRight {
	background-image: url('https://www.missouristate.edu/images/socialmedia-BTNtopR143.png');
	}
div#LeftColumn div.SocialMediaButton .ButtonTop .ButtonRight {
	background-image: url('https://www.missouristate.edu/images/socialmedia-BTNtopR133.png');
	}
	
div.SocialMediaButton .ButtonBottom .ButtonRight {
	background-image: url('https://www.missouristate.edu/images/socialmedia-BTNbottomR143.png');
	}
div#LeftColumn div.SocialMediaButton .ButtonBottom .ButtonRight {
	background-image: url('https://www.missouristate.edu/images/socialmedia-BTNbottomR133.png');
	} 

div.SocialMediaButton a .ButtonText, div.SocialMediaButton a:visited .ButtonText, div.SocialMediaButton a:link .ButtonText {
  color: #630010;
  text-decoration: none;
  font-size: 86%;
  }

div.SocialMediaButton a:hover .ButtonText {
  text-decoration: underline;
  }

/* Now do overrides for Social Media buttons */

/* End of overrides for Social Media buttons */

.FeatureHWrapper {
  position: relative;
  padding-bottom: 20px;
}

.FeatureHWrapper .Corners {
  background-color: #630016;
  height: 4px;
  margin: 0 4px;
  position: relative;
}

.FeatureHWrapper .LCorner {
  left: -4px;
  position: absolute;
  top: 0;
  background-image: url(https://www.missouristate.edu/images/2010/FeatureButtons/Corners.png);
  width: 4px;
  height: 4px;
}

.FeatureHWrapper .RCorner {
  position: absolute;
  right: -4px;
  top: 0;
  background-image: url(https://www.missouristate.edu/images/2010/FeatureButtons/Corners.png);
  background-position: top right;
  width: 4px;
  height: 4px;
}

.FeatureHWrapper dl {
  margin: 0;
  padding: 5px 0 0 0;
  width: 175px;
}

.FeatureHWrapper dl dt {
  height: 23px;
  width: 30px;
}

.FeatureHWrapper dl dd {
  margin: 0;
  min-height: 23px;
}

.FeatureHWrapper .FeatureHeader {
  background-color: #630016;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 125%;
  font-weight: bold;
  padding: 0 7px 3px 7px;
  position: relative;
}

#PageWrapper .FeatureHeader a:hover {
	text-decoration: none;
	border-bottom: solid 1px White;
	
}

.FeatureHeader a, .FeatureHeader a:visited, .FeatureHeader a:active, .FeatureHeader a:hover, .FeatureHeader a:link {
	color: white;
	text-decoration: none;
	border-bottom: solid 1px Transparent;
}

.FeatureContent {
  background: #CCCCCC url("https://www.missouristate.edu/images/2010/FeatureButtons/BkGd.png") top repeat-x;
  border: solid 1px #CCCCCC;
  margin-bottom: 5px;
  margin-top: 0;
  padding-bottom: 25px;
  padding-top: 3px;
}

.FeatureContent dl.TwoColumn {
  padding: 0px 1px 0px 1px;
}

.FeatureContent a {
  text-decoration: none;
}
.FeatureContent a:hover { text-decoration: underline; }

.FeatureContent dl.TwoColumn dt {
  font-weight: bold;
  width: 27px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px;
}

.FeatureContent dl.TwoColumn dd.FYP {
  padding-right: 98px;
  width: 45px;

}

div.FeatureContent dl.TwoColumn dd {
  font-weight: bold;
  width: 143px;
  padding-top: 11px;
  margin-top: 0;
  margin-bottom: 0;
}

.FeatureContent a {
  text-decoration: none;
}

.FeatureContent img.FYP {
  bottom: 20px;
  position: absolute;
  right: -8px;
}

/* Unqualified IDs */
 
#EventsUL .InnerNewsHeading {
	font-weight: bold;
	margin-bottom: 5px;
	}

#EventsUL .EventInfo {
	font-style: italic;
	margin-bottom: 5px;
	}

#EventsUL {
	list-style: none;
	padding-left: 0;
	}

#Keywords {
  width: 99px;
  }
 
#PageWrapper {
  font-family: Arial,Helvetica,sans-serif;
  width: auto;
  }
 
#Footer {
  text-align: center;
  font-size: 80%;
  background-color: #FAF9F5;
  position: relative; 
  }
 
#Footer li {
  display: inline;
  padding-left: 1px;  
  list-style: none;
  } 
 
#Footer ul {
  margin: 0;
  padding: 0;
  }
 
#MastheadWrapper {
  padding: 0 10px;
  width: 746px;
  }
 
#Masthead { 
  color: white;
  width: 726px;
  padding: 10px 10px 0px 10px;
  }
 
#Masthead img {
  padding: 0;
  }
 
#Masthead a {
  color: white;
  text-decoration: none;
  }
 
#Masthead .ColumnTrpl { 
  width: 547px;
  padding: 0;
  }

#ContentColumn {
  margin: 0 0 0 -6px;   /* if #contentColumn does not
           overlap the left and right columns, then
           the whole layout will break */
  width: 567px;
  } 
 
#InnerColumnContainer {
  width: 567px;
  z-index: 2; 
  }
 
#LeftColumn, #ContentColumn {
  float: left;
  overflow: visible;  /* fix for IE italics bug */
  position: relative;
  z-index: 10;
  }
 
#LeftColumn {
  margin: 0 6px 0 -184px; /* the margin on the side the column is to be
           rendered on must be the negative equal of 
           the column's width. The opposite border must
           be 1px */
  width: 184px;
  padding-bottom: 10px; /* this is the very padding talked about in the
           .inside selector comment. */ 
  z-index: 50;
  }

#OuterColumnContainer {
  border-style: solid;
  border-width: 0 0 0 179px;  /* side border widths must equal the widths of the left column */
  color: #000;
  z-index: 1;
  width: 567px;     
  padding-left: 5px;
  margin-left: 5px; 
  border-left-color: #f0eee4; /* left hand column background color */
  } 
  
/* Qualified IDs */
 
div#Breadcrumb {
  font-family: verdana,arial,helvetica,sans-serif;
  font-size: 75%;
  text-align: right;
  padding-bottom: 5px;
  margin-top: 0;
  }
 
div#LocalNav {
  font-family: verdana,arial,helvetica,sans-serif; 
  font-size: 85%;
  padding-right: 5px;
  width: 159px;
  }

div#LocalNav ul {
  padding: 0;
  margin-bottom: 1.5em;
  }
 
div#LocalNav ul li {
  list-style-type: none;
  padding: 2px 10px 4px 10px;
  width: 100%;
  margin-bottom: -1px;
  border-bottom: solid 1px #D9D9CE; 
  border-top: solid 1px #D9D9CE;  
  }

div#LocalNav h3, div#LocalNav h4, div#LocalNav h5, div#LocalNav h6 {
  padding: 0 0 0 10px;
  margin-bottom: -5px;
  font-size: 1em;
  position: relative;
  }

div#LocalNav div.FirstChild {
  padding: 0 10px;
  }
  
div#LocalNav div.FirstChild h3, div#LocalNav div.FirstChild h4, div#LocalNav div.FirstChild h5, div#LocalNav div.FirstChild h6 {
  padding: 0;
  }

div#LocalNav div.FirstChild ul li {
  margin-left: -10px;
  margin-right: -10px;
  }

div#NavPhoto img, img#NavPhoto {
  margin-bottom: -1em;
  }
  
div#LeftColumn div.MP3Player, div#LeftColumn div.Slideshow, div#LeftColumn div.SWFPlayer, div#LeftColumn div.FLVPlayer, div#LeftColumn div.YouTubePlayer, div#LeftColumn div.RssFeed {
  margin-left: -10px;
  }

div#player {
  border:1px #666666 solid;
  display:block;
  }

div#Search {
  color: white;
  /*Apply backslash hack to hide next line from Mac IE 5 \*/
  text-align: justify;
  /*End hack*/
  width: 169px;
  padding: 0 5px; 
  float: left;
  margin-top:-12px;
  }
 
div#Search a {
  color: white;
  border-bottom: none;
  padding-right: 2px;
  }
 
div#Search a:hover {
  text-decoration: underline;
  }
 
div#Search input {
  font-size: 90%;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  margin-bottom: 3px;
  }
  
div#Search #SearchButton {
  padding: 0 4px;
}
 
div#Promo {
  margin-bottom: .9em;
  margin-top: .9em;
  } 
 
p#Promo img {
  border: solid #b3b3aa 1px;
  }

/* AddThis styles */
table#at_tb1 td, div#at_share td, table#at_foot td, table#at_tb1 th, div#at_share th, table#at_foot th {
  border: none;
  }



ul.PopoutMenu ul, #LocalNav ul.PopoutMenu ul
{
	background: Transparent url('https://www.missouristate.edu/images/bullets/BeigeTriangle.gif') no-repeat scroll 0 5px;
	border: none;
	height: 14px;
	list-style: none;
	margin: 0;
	overflow: visible;
	padding: 0 0 0 14px;
	position: absolute;
	right: 0px;
	top: -1px;
	width: 0px;
}

ul.PopoutMenu ul
{
	visibility: visible;
	z-index: 1;
}
ul.PopoutMenu ul ul 
{
	visibility: hidden;
}
ul.PopoutMenu li
{
	padding: 0;
	position: relative;
	width: auto;
	top: 0;
}
#LocalNav ul.PopoutMenu li
{
	padding: 0;
}

ul.PopoutMenu li li
{
	background-color: #F0EEE4;
	border: 1px solid #D9D9CE;
	border-top: none;
	width: 220px;
	visibility: hidden;
	z-index: 100;
}
ul.PopoutMenu li li:first-child {
	border-top: 1px solid #D9D9CE;
}
ul.PopoutMenu a
{
	display: block;
	padding: 2px 15px 4px 10px;
	width: auto;
}
ul.PopoutMenu a:hover, ul.PopoutMenu a:focus, ul.PopoutMenu a:active
{
	background-color: #E5E4DA;
	outline:none;
}
ul.PopoutMenu li:hover li ul, ul.PopoutMenu li:hover li li, ul.PopoutMenu li.MenuHover li ul, ul.PopoutMenu li.MenuHover li li
{
	visibility: hidden;
}
ul.PopoutMenu li:hover li, ul.PopoutMenu li:hover li ul, ul.PopoutMenu li li:hover li, ul.PopoutMenu li li:hover ul,
ul.PopoutMenu li.MenuHover li, ul.PopoutMenu li.MenuHover li ul, ul.PopoutMenu li li.MenuHover li, ul.PopoutMenu li li.MenuHover ul
{
	visibility: visible;
}

/* Redesign Masthead and Footer Update */
html, body {height:100%;}
#PageWrapper {min-height:100%;position:relative;}
body, #Footer {background-color: white;}
#LeftColumn {border-top:10px solid white;}

#NewMastheadWrapper, #NewMastheadWrapper #Masthead, #PageFooter {background-image:none;}
#NewMastheadWrapper {height:35px;background-color:#5E0009;min-width:746px;padding:0;position:relative;width:100%;}
#NewMastheadWrapper #Masthead{background-color:transparent;width:746px;height:35px;margin:0 auto;padding:0 10px;position:relative;}
#NewMastheadWrapper #Masthead .header{background:transparent url(https://missouristate.info/images/2010/logotab.png) no-repeat scroll top left;margin:0;position:absolute;top:0;left:-5px;z-index:2;width:167px;height:52px;padding:0 0 0 7px;}
#NewMastheadWrapper #Masthead .header a, #NewMastheadWrapper #Masthead .header img{display:block;padding:0;position:static;}
#NewMastheadWrapper #Masthead form{display:block;margin:0;padding:0;}
#NewMastheadWrapper #Masthead .SiteIndex{left:0;display:table;position:absolute;text-align:right;font-size:11px;line-height:13px;height:35px;margin-left:186px;width:406px;top:0;}

#NewMastheadWrapper #Masthead .Search{display:table;margin-left:601px;width:155px;height:35px;top:0;position:absolute;left:0;}
#NewMastheadWrapper #Masthead .SiteIndex a{position:relative;z-index:2;}
#NewMastheadWrapper .SiteIndex > div, .Search > div{display:table-cell;position:static;vertical-align:middle;}
#NewMastheadWrapper .SiteIndex div div,#NewMastheadWrapper .Search div div{display:table-cell;position:static;vertical-align:middle;}

#NewMastheadWrapper .SiteIndex div{width:400px;}

#NewMastheadWrapper .Search div{width:155px;}
#NewMastheadWrapper #Masthead .SiteIndex a{display:inline-block;padding:0 2px;color:White;position:static;text-decoration:none;}
#NewMastheadWrapper #Masthead a:hover{text-decoration:underline;}
#NewMastheadWrapper #Masthead label{color:white;position:absolute;width:0;height:0;}
#NewMastheadWrapper #Masthead input{font-size:13px;color:#303031;line-height:16px;width:11em;display:block;width:149px;margin:0;padding:2px;border-width:1px;}
#NewMastheadWrapper #Masthead input[type=image]{color:white;position:absolute;display:inline;width:1px;height:1px;display:block;padding:0;}

#NewMastheadWrapper + .CenterWrapper {position:relative;padding-bottom:10em;}

#PageFooter{left:0;clear:both;font-size:11px;color:White;line-height:15px;position:absolute;height:9em;bottom:0;min-width:746px;width:100%;background-color:#5F6061;border-top:5px solid #303031;padding-top:7px;}
#PageFooter a{color:White;}
#PageFooter .grid_4, #PageFooter .grid_6{margin-top:24px;}
#PageFooter .FYP{text-align:right;margin:0 10px;min-height:90px;}
#PageFooter ul{display:block;list-style-type:none;margin:0;padding-left:0;}
#PageFooter li{color:White;display:inline-block;list-style-type:none;margin:0;padding:0;}
#PageFooter li a{display:inline-block;margin:0 7px;}
#PageFooter li:before{content:'|';}
#PageFooter li:first-child:before{content:''}
#PageFooter li:first-child a{margin-left:0;}
#PageFooter .container_12 {width:756px;margin:0 auto;position:relative;background-color:transparent;}
#PageFooter .grid_2,#PageFooter .grid_4, #PageFooter .grid_6 {float:left; display: inline; position:relative;text-align:left;}
#PageFooter .grid_2 {width:112px;}
#PageFooter .grid_4, #PageFooter .grid_6 {width:312px;}

#NewMastheadWrapper #Masthead .SiteIndex .SkipNav {display:block;height:1px;outline:medium none;position:absolute;width:1px;}

#PageWrapper a.Button {background-color:#5e0009;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;display:inline-block;font-size:14px;font-weight:bold;padding:10px 12px;color:white;text-decoration:none;text-align:center;}
#PageWrapper a.Button:hover {text-decoration:underline;}


/*need to add asp so for ie7 only in global.css and transitional.css #PageFooter li{display:inline-block;}NewMastheadWrapper #Masthead .Search {top:5px;}*/
/* checking for browser version */ 

 
/* End Redesign Updates */

/* Print Styles */

@media print {

body {
  text-align: left;
  background-color: white !important;
  }

div#Search, div#LeftColumn, div#Breadcrumb {
  display: none;
  }
  
div#ContentColumn {
  float: none;  /*removed !important once added div. qualifier*/
  position: static;
  border: 1px solid white;
  width: 100%;  /*removed !important once added div. qualifier*/
  }

div#OuterColumnContainer {
  border: none;
  display: inline;
  }

div#InnerColumnContainer, div#PageWrapper, div.CenterWrapper, div#Masthead, div#MastheadWrapper, div#Footer {
  float: none;
  position: static;
  padding: 0;
  width: 100%;
  }

div#Footer {
  background-color: white;
  padding-top: 10px;
  }
  
div#Masthead {
  background-color: white;
  padding: 0 0 5px 0;   /*to space the wordmark lower for ie */
  }
  
div#Masthead form, div#Masthead div.Clear {
  display: none;
  }

div.ColumnTrpl, div.ColumnQuad {
  float: none;
  }
  
div.ColumnQuad {
  width: 95%;
  }

/* remove float and resize all ColumnDbl */
div.ColumnDbl {
  width: 95%;
  float: none;
  }
  
/* now re-establish float and width for ColumnDbl in well formed pages */ 
div#InnerColumnContainer div#ContentColumn div.ColumnDbl {
  width: 368px;
  float: left;
  }
  
div#FullOuterColumnContainer div#FullContentColumn div.ColumnDbl {
  width: 48%;
  float: left;
  }

div.PrintOnly, .PrintOnly {
  display: block;
  }
  
div.NoPrint, .NoPrint {
  display: none !important;
  }
  
#PageFooter {height:auto;position:static;width:720px;min-width:720px;border-top-width:0;clear:both;border-top:none;}  
}